body {
    margin: 0px;
    padding: 0px;
    background-color: #141E46;
}

ul{
  list-style: none;
  background-color: #FFF5E0;
  margin: 0px;
  padding: 0px;
}

input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.hl {
  background-color: rgba(20, 30, 70, 0.2);

}

.search-form {
  margin: 50px auto;
  max-width: 400px;
}

li {
  padding: 2px 5px;
}

.suggestions{

}